<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Activity.View.FoodView"
            android:exported="true"
            android:theme="@style/Theme.MyFavouriteFood"
            android:label="Food Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.View.FoodListView"
            android:exported="true"
            android:label="Food List"
            android:theme="@style/Theme.MyFavouriteFood"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--For some reason, the API key is not valid (I copy and paste the random google api key in the internet)-->
<!--I also read the lecture in week 5 for introduction but it is not clear about how to obtain Goggle API key-->
<!--I use my personal email but the google said that i need a credit card to continue ?-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDWTx7bREpM5B6JKdbzOvMW-RRlhkukmVE"/>
    </application>

</manifest>